[submodule "dependencies/minifb"]
	path = dependencies/minifb
	url = https://github.com/emoon/minifb
[submodule "depencencies/minifb"]
	path = depencencies/minifb
	url = https://github.com/emoon/minifb
